html{
    height: 100%;
}
body {
    display: flex;
    gap:20px;
    height:100%;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
.gridContainer{
    display: grid;
    grid-template-columns: 500px 220px 500px;
    grid-template-rows: 500px 80px 200px 
}


.gridContainer:after{
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 800%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 200s linear infinite ;
    transition: opacity 0.2s ease-in-out;
}
@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    } 
 }


.playerBoard, .computerBoard {
    display: grid;
    grid-template-columns:  repeat(10, 50px);
    grid-template-rows:  repeat(10, 50px);
}
.vs, .yourGrid, .compGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


/* BUTTONS */
.buttons{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:20px
}
.addPoleBtn{
    display: flex;
    flex-direction: column;
    gap:20px
}
.btnTop, .btnBot{
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
}
.resetBtn{
    align-self: center;
}

.addPoleBtn button {
    width: 155px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.resetBtn{
    width: 120px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; 
}
.addPoleBtn button:before, .resetBtn:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-84 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-84 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.addPoleBtn button:after, .resetBtn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.addPoleBtn button:hover, .resetBtn:hover {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(0, 0, 0, 0.5), .125rem .125rem 1rem rgba(0, 0, 0, 0.5);
}

.addPoleBtn button:active, .resetBtn:active {
    color: #cb9bff
}

.pixel, .pixelC  {
    border: 1px solid black
}

.pixel:hover , .pixelC:hover  {
    border: 1px solid black;
    background: linear-gradient(
        -45deg,
        #5e5e5e,
        #818181,
        #858585,
        #949393,
        #b3b3b3,
        #b4b4b4,
        #c4c3c3,
        #d5d5d5
    );
    background-size: 600%;
    animation: glowing-button-80 3s linear infinite ;
    transition: opacity 0.2s ease-in-out;
    
}
@keyframes glowing-button-80 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    } 
 }

.missed{
    background: linear-gradient(
        -45deg,
        rgba(0, 0, 255),
        rgb(0, 0, 225),
        rgb(0, 0, 195),
        rgb(0, 0, 165),
        rgb(0, 0, 135),
        rgb(0, 0, 105),
        rgb(0, 0, 75),
        rgb(0, 0, 45)
    );
}

.hit{
    background: linear-gradient(
        -45deg,
        red,
        rgb(225,0,0),
        rgb(195,0,0),
        rgb(165,0,0),
        rgb(135,0,0),
        rgb(105,0,0),
        rgb(75,0,0),
        rgb(45,0,0)
    );
}

.sunk{
    background: linear-gradient(
        -45deg,
        #000000,
        #1d1d1d,
        #2d2d2d,
        #3b3b3b,
        #4d4d4d,
        #5d5d5d,
        #6d6d6d,
        #7d7d7d
    );
}

.ship{
    background: linear-gradient(
        -45deg,
        rgba(0, 255, 0),
        rgb(0, 225, 0),
        rgb(0, 195, 0),
        rgb(0, 165, 0),
        rgb(0, 135, 0),
        rgb(0, 105, 0),
        rgb(0, 75, 0),
        rgb(0, 45, 0)
    );
}


.gameOver {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600
}

.howManyShips{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap:25px;
    align-items: center;
    font-weight: 600
}


